.homeBackground {
	background-color: black;
}

.centeredScroller {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bannerWrapper {
	position: relative;
	overflow: hidden;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.fullScreenOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: auto !important;
	height: auto !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fullScreenOverlay::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.654); /* 바깥 부분의 불투명도 */
	z-index: 1;
}

.bannerVideo {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}

.bannerText {
	position: absolute;
	bottom: 10%;
	left: 5%;
	font-size: 2rem;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index: 1;
	white-space: pre-line;
}

.overlayContent {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 80%;
	z-index: 10;
	color: white;
	padding: 20px;
}

.mainTitle {
	font-size: 3rem;
	font-weight: bold;
	margin: 2rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 0.1rem 1rem;
}

.subtitle {
	font-size: 1.5rem;
	padding-top: 1.5rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.mediaOverlay {
	position: relative;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(0, 0, 0, 0.2) 50%,
			rgba(0, 0, 0, 0.4) 100%
		);
		z-index: 1;
	}
}
